BODY{
    background-color: #745cc1;
    text-align: center;
    display: block;
    -webkit-font-smootthing: antialiased;
}

img{
    margin-top: 65px;
}
input{
    width: 100%;
    margin-top: 50px;
    padding: 15px;
    
    background-color: #745cc1;
    color: #ffffff;
    border-top:none;
    border-left: none;
    border-right: none;
    border-bottom-color: white;
    
}
button{
    width: 100%;
    margin-top: 50px;
    text-align: center;
    background-color: #fff;
    border-radius: 45px;
    height: 45px;
    margin-bottom: 10px;
    box-shadow: 0px 2px 3px 0px;
    border:none;
    font-weight: 500;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

a{
color:white;
text-decoration: none;
font-family: 'Roboto', sans-serif;
font-size: 14px;
font-weight: 400;

text-shadow: 1px 1px 0 #000;
}

form {
    padding: 60px 60px 8px 60px;
}


::-webkit-input-placeholder{
    color:#fff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300px;
    
}